.contact {
  width: 70%;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container .contactInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 10px;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 42px;
  color: black;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: steelblue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#panel5{
  background: rgb(241, 241, 241);;
}

.text p{
  font-weight: 350;
}

