footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  color: black;
  height: 20vh;
  width: 100%;
  flex-direction: column;
}

footer p {
  width: 500px;
  text-align: center;
}

#footer-text {
  color: black;
}
.attribution{
  padding-top: 10px;
  font-size: 10px;
}
.attribution a {
  text-decoration: none;
  color: black;
}


@media only screen and (max-width: 1400px) {
  footer p {
    width: 300px;
  }
}
