.glide {
  width: 80%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide__slide img {
  width: 700px;
  height: 350px;
}
