* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panel3 {
  background-color: #ba5c5c;
  flex-direction: column;
}

#panel2 {
  background-color: #e3f2fd;
}

#panel1 {
  background-image: url(../img/es.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.clear-text {
  text-decoration: none;
  color: white;
}
