* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.panel {
  height: 80vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#panel5 {
  background-color: rgb(240, 240, 240);
}

#panel4 {
  flex-direction: column;
  min-height: 1000px;
}

#panel1 {
  background-image: url(../img/es.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.clear-text {
  text-decoration: none;
  color: white;
}

#panel3 {
  height: fit-content;
  padding-top: 150px;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  #panel1 {
    background-image: url(../img/essmol.jpg);
  }
}

#panel2{
  padding-top: 100px;
}