table {
  width: 65vw;
}

tr {
  height: 75px;
}

td {
  font-size: 1.4rem;
  padding: 0 25px;
}

td:not(tr:last-child > *) {
  border-bottom: 1px solid black;
}

td:nth-child(even) {
  text-align: right;
}
