table {
  width: 65vw;
}

tr {
  height: 75px;
}

td {
  font-size: 1.4rem;
  padding: 0 25px;
  border-bottom: 1px solid black;
}

.text-disclaimer{
  font-size: 1.4rem;
  text-align: center;
  padding-top: 35px;
  width: 65vw;
}

td:nth-child(even) {
  text-align: right;
}
